<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <title>КомСервис</title>
    <script type="application/javascript" src="tailwind.js"></script>
  </head>
  <body>
    <div class="w-screen h-screen flex justify-center items-center
    bg-gradient-to-br from-teal-100 to-stone-400">
      <div class="p-6 m-auto bg-white border-t border-purple-600 rounded shadow-lg shadow-purple-800/50 lg:max-w-md">
          <input type="text" class="w-96 px-3 py-2 rounded-md border focus:outline-none focus:border-sky-500 focus:ring-sky-500 border-slate-400" placeholder="Введите токен" id="name_input" >
      </div>
    </div>
    <script type="application/javascript" defer="defer" src="alpine.js"></script>
    <script>
      document.getElementById("name_input").addEventListener('keypress', (e) => {
        console.log(e)
        if ((e.charCode == 10) && e.ctrlKey) {
          location.href = `/chat?access_token=${e.target.value}`;
        }
      } )
    </script>
  </body>
</html>
