<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <title>Комсервис</title>
    <script type="application/javascript" src="tailwind.js"></script>
  </head>
  <body>
    <div class="w-screen h-screen flex justify-center items-center bg-gradient-to-br from-stone-100 to-stone-400">
      <div id="com_window" style="width: calc(100vw - 3rem); min-width: 320px;" class="p-6 m-auto bg-white border-t border-purple-600 rounded shadow-lg shadow-purple-800/50">
        <div id="message_box" style="width: calc(100% - 2rem);" class="m-auto mb-2">
          <span>Каналы:</span>
          <div class="flex text-sm">
            <%= for {x, idx} <- Enum.with_index(LiveTrack.RoomSupervisor.list_rooms(), 1) do %>
              <label class="cursor-pointer" for="channel_<%= idx %>">
                <%= if idx == 1 do %>
                  <input class="sr-only peer" id="channel_<%= idx %>" name="channel" type="radio" value="<%= x %>" checked />
                <% else %>
                  <input class="sr-only peer" id="channel_<%= idx %>" name="channel" type="radio" value="<%= x %>" />
                <% end %>
                <div class="w-auto px-4 py-2 flex items-center justify-center border-b-2 border-slate-200 text-slate-700 peer-checked:font-semibold peer-checked:border-indigo-600 transition-all duration-300">
                  <%= x %>
                </div>
              </label>
            <% end %>
          </div>
        </div>
        <div style="height: calc(100vh - 15rem); min-height: 320px; width: calc(100% - 2rem);" class="p-6 m-auto bg-white rounded border
        border-slate-200 overflow-hidden overflow-y-auto">
          <div id="output" class="text-sm"></div>
        </div>
        <div class="group relative m-auto mt-4" style="width: calc(100% - 2rem);">
          <input id="message_box_input" class="hover:border-blue-500 border-b focus:border-0 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 pl-2 pr-10 ring-1 ring-slate-200 shadow-sm" type="text" aria-label="Filter projects" placeholder="Сообщения">
          <button id="message_box_send_button" class="absolute pt-3 top-0 right-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-12 origin-center rotate-90 text-cyan-600 hover:text-cyan-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
            </svg>
          </button>
        </div>
      </div>
    </div>


    <script type="application/javascript" defer="defer" src="application.js"></script>
    <script type="application/javascript" defer="defer" src="alpine.js"></script>
  </body>
</html>
